<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>spring boot sample</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
</head>
<body>
    <header class="header bg-light">
        <div class="container">
            <h1>spring boot sample</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><a href="/">Home</a></li>
                </ol>
            </nav>
        </div>
    </header>
    <article class="container">
        <section>
            <a href="/create" class="btn btn-primary float-right create-new">create new</a>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">title</th>
                    <th scope="col">author</th>
                    <th scope="col">publisher</th>
                    <th scope="col">edit</th>
                    <th scope="col">delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}" th:object="${book}">
                    <th th:text="*{id}" scope="row"></th>
                    <td th:text="*{title}"></td>
                    <td th:text="*{author}"></td>
                    <td th:text="*{publisher}"></td>
                    <td>
                        <a th:href="*{id}" class="btn btn-primary">edit</a>
                    </td>
                    <td>
                        <form th:action="*{id}" th:method="delete">
                            <input type="submit" value="delete" class="btn btn-secondary">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="card">
            <h2 class="card-header">search</h2>
            <div class="card-body">
                <form th:method="get" th:action="search" name="search" accept-charset="UTF8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">title</label>
                        </div>
                        <input type="text" name="title" class="form-control form-control-sm">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">author</label>
                        </div>
                        <input type="text" name="author" class="form-control form-control-sm">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">publisher</label>
                        </div>
                        <input type="text" name="publisher" class="form-control form-control-sm">
                    </div>
                    <input type="submit" value="search" class="btn btn-primary btn-wide">
                </form>
            </div>
        </section>
    </article>
</body>
</html>
